@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.container {
  border: 1px grey solid;
  width: 200px;
  margin: 10px;
}

.img {
  width: 200px;
}

.text {
  font-size: 0.5em;
  font-family: 'Roboto Mono', monospace;
  margin: 3px;

}

.main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user-info {
  padding: 15px;
  font-size: 0.5em;
  line-height: 0.7em;
  font-family: 'Roboto Mono', monospace;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}




fieldset {
  height: 120px;
  
}

.line  {
  text-decoration: underline;
}

.full-page {
  border: 1px grey solid;
  margin: 10px 50px 0px 50px;
}

.title-fr {
  padding-left: 15px;
  font-family: 'Roboto Mono', monospace;
}